.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.mt {
  margin-top: 15px;
}

.btn-primary {
  margin-top: 20px;
}
